{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "parser": "babel-eslint",
    "globals": {
        "window": true,
        "document": true,
        "module": true,
        "require": true,
        "console": true,
        "ENV": true
    },
    "rules": {
        "react/prop-types": "off",
        "no-console": "off"
    }
}